<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact 页面正在制作中，课通过下面方式给我反馈。
  <br>
  邮箱：kerzzi@outlook.com
  <br>
  微信：zhulanwa
  <br>
  我太困了，要去睡觉了！
  <br>
  <em>想获得最新进展</em>，请访问
  <a href="http://kerzzi.logdown.com/"><em>叫我柯子就好</em>
  </a>.
</p>
